{% extends 'base.html' %}
{% load bootstrap4 %}
{% block body %}
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>{{jobs.count}} + Jobs Available</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<div class="container">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form edit %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">Update</button>
        {% endbuttons %}

    </form>
</div>

{% endblock body %}