{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>User Profile</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<div class="job_details_area">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <div class="job_sumary">
                    <div class="col-lg-12">
                        <div class="summery_header" >
                            <h1>Profile</h1>
                        </div>
                        <div class="summery_header" >
                            <img src="" alt="">
                        </div>
                </div>
                    <div class="job_content">
                        <ul>
                            <h3>First name : <span></span></h3>
                            <h3>Last name : <span></span></h3>
                            <h3>Email address  : <span></span></h3>
                            <h3>linkedin  : <span></span></h3>
                            <h3>job : <span></span></h3>
                            <h3>phone  : <span></span></h3>
                            <h3>city  : <span></span></h3>
                            <h3>region  : <span></span></h3>
                            <h3>street  : <span></span></h3>
                            <h3>apartment  : <span></span></h3>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}