{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h4>User Login</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<div class="container">


    <form method="post" >
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="SignUp" class="btn btn-primary btn-lg btn-block">

    </form>

    {# Assumes you setup the password_reset view in your URLconf #}

</div>

{% endblock content %}