{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h4>User Login</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<div class="container">
    <!-- {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
    {% endif %} -->

    <form method="post" >
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="login" class="btn btn-primary btn-lg btn-block">
        <input type="hidden" name="next" value="{{ next }}">
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    <button class="btn btn-secondary btn-lg"><a href="{% url 'password_reset' %}">Lost password?</a></button>

</div>

{% endblock content %}