
{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h4>Password Reset Confirm </h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<div class="container">
    {% if validlink %}
    <h2>Please enter (and confirm) your new password.</h2>
    <form action="" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" class="btn btn-primary btn-lg btn-block" value="change password">
    </form>
{% else %}
    <h1   class="text-warning">Password reset failed</h1>
    <h3 class="text-danger" >The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</h3>
{% endif %}
</div>

{% endblock content %}