{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h4>Password Reset </h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
          <input type="submit" class="btn btn-primary btn-lg btn-block" value="Reset password">
        </form>
</div>

{% endblock content %}